
certifi==2019.11.28
click==7.1.1
Flask==1.1.1
Flask-SocketIO==4.2.1
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==0.14.1
MarkupSafe==1.1.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
nltk==3.4.5
numpy==1.18.1
python-engineio==3.9.3
python-socketio==4.3.1
scikit-learn==0.22.1
scipy==1.4.1
six==1.14.0
stop-words==2018.7.23
Werkzeug==1.0.0



